body {
    font-family: 'lato', sans-serif;
    font-family: 'open sans', sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;


}

.nav-title {
    font-weight: 800px;
    font-size: 45px;
    color: #181818;

}

.text-primary {
    color: #FD6E0A;

}

nav>ul {
    list-style: none;
    display: flex;
    align-items: center;
    color: #474747;

}

nav>ul>li {
    margin: 10px;
    padding: 10px;
}

.btn {
    background-color: #FD6E0A;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 3px;
    font-size: larger;
}

/* header related styles */
.header {
    background-color: #fff8f3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    
}

.banner {
    padding: 30px 30px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left:  200px;
    margin-bottom: 100px;
   
}

.banner-greting{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}

.banner-title{
    font-size: 85px;
    font-weight: 800;
    margin-top: 5px;
    margin-bottom: 0px;
}

.banner .profile-pic {
    width: 500px;
    
}

p{
    font-size: 18;
    color: #474747;
}


/* main section */

main{
    max-width: 1140;
    margin: 0 auto;
}

.mheads{
    font-size: 35px;
    font-weight: 700;
    color: #181818;
}

/* for about me */
section{
    background-color: #fff8f3;
    text-align: center;
    margin: 20px 200px;
    padding: 100px;  
}

.about-info-container{
    display: flex;
    justify-content: space-around;
}

.allskills{
    display: flex;
    justify-content: space-around;
}

.skill{
    text-align: left;
}


