body {
    font-family: 'lato', sans-serif;
    font-family: 'open sans', sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;


}

.nav-title {
    font-weight: 800px;
    font-size: 45px;
    color: #181818;

}

.text-primary {
    color: #FD6E0A;

}

nav>ul {
    list-style: none;
    display: flex;
    align-items: center;
    color: #474747;

}

nav>ul>li {
    margin: 10px;
    padding: 10px;
}

.btn {
    background-color: #FD6E0A;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 3px;
    font-size: larger;
}

/* header related styles */
.header {
    background-color: #fff8f3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    
}

.banner {
    padding: 30px 30px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left:  200px;
    margin-bottom: 100px;
   
}

.banner-greting{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}

.banner-title{
    font-size: 85px;
    font-weight: 800;
    margin-top: 5px;
    margin-bottom: 0px;
}

.banner .profile-pic {
    width: 500px;
    
}

p{
    font-size: 18;
    color: #474747;
}


/* main section */

main{
    max-width: 1140;
    
}
main section{
    margin-top: 130px;
}

.mheads{
    font-size: 35px;
    font-weight: 700;
    color: #181818;
}

/* for about me */
section{
    
    text-align: center;
    margin: 20px 200px;
    padding: 100px;  
}

.about{
    background-color: #fff8f3;
}



.about-info-container{
    display: flex;
    justify-content: space-around;
}

.allskills{
    display: flex;
    justify-content: space-around;
    gap: 24px;
}

.skill{
    text-align: left;
    padding: 30px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.6);
    
}

/* Institution & Experience */
.academy-experience{
    display: flex;
    text-align: left;
    color: #474747;
    gap: 50px;
    padding: 5px;
}

.degrees{
    color: #474747;
    margin-bottom: 0;
}

.institutions{
    color: #7b7878;
    margin-top: 0;
}

/* footer design */

footer{
    display: flex;
    /* margin: 0 200px; */
    padding: 0 300px;
    gap: 30px;
    background-color: #fff8f3;
    position:centre;
    margin-bottom: 40px;
}

.social-connect{
    
    max-width: 50%;
}

.form-connect{
    max-width: 50%;
    padding: 0 100px 30px;
    margin-bottom: 30px;
    

}
.social-connect a{
    margin-right: 25px;
}

.form-connect input,textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 25px;
    color: #757575;
    border: none;
    background-color: white;
    border-radius: 5px;
    width: 100%;
}


